.edu-box {
    padding: 10px;
}

.edu-img {
    height: 100px;
    width: 100px;

    background-color: white;
    border-radius: 20%;
}

.edu-text {
    float: left;
    text-align: left;
}

.edu-name {
    font-size: 1.3rem;
}

.edu-dates {
    font-style: italic;
    font-size: 0.8rem;
}

.edu-title {
    font-size: 1rem;
}