.edu-box {
    margin-top: 25px;
}

.edu-img {
    height: 100px;
    width: 100px;

    background-color: white;
    border-radius: 20%;
}

.edu-name {
    font-size: 1.3rem;
}

.edu-dates {
    font-style: italic;
    font-size: 0.8rem;
}

.edu-title {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .edu-text {
        float: none;
        text-align: center;
        margin-top: 20px;
    }    
}

@media (min-width: 768px) {
    .edu-text {
        float: left;
        text-align: left;
    }
}